.empty-button {
  width: auto;
  padding: 0 8px;
  font-size: 14px;
  font-family: inherit;
  line-height: 14px;

  &:hover {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

.confirm-empty-button {
  padding: 12px 24px;
  background-color: #F07C7C;
  color: white;

  &:hover {
    background-color: rgba(240, 124, 124, 0.65);
  }

  &:active {
    background-color: rgba(240, 124, 124, 0.45);
  }
}

.cancel-empty-button {
  padding: 12px 24px;
  background-color: #BFBFBF;
  color: white;

  &:hover {
    background-color: rgba(191, 191, 191, 0.65);
  }

  &:active {
    background-color: rgba(191, 191, 191, 0.45);
  }
}

.remove-button {
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

.quantity-button {
  width: 35px;
  height: 100%;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #D9D9D9;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &.right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background-color: #F0F0F0;
  }

  &:active {
    background-color: #F7F7F7;
  }
}

.quantity-display {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.checkout-button {
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.divider {
  border-bottom: 1px solid #D9D9D9;
}
