.root:hover {
    background-color: transparent !important;
}

.label {
    text-transform: capitalize;
    font-size: 0.825rem;
    text-decoration: underline;
    color: var(--gray);
    font-weight: normal;
}
