.root-button-title {
    flex-grow: 1;
}

.appBar-icon-right-image {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.menuButton_right_end {
    margin-left: 0 !important;
}

.root-badge {
    top: 4px !important;
}
