.container-root-alert {
  height: 100vh;
  z-index: 99;

  .container-dialog {

    .dialog {
      align-self: center;
      width: fit-content;
      height: fit-content;
      transform: translateY(-15vh);

      .close {
        top: 29px;
        right: 29px;
        border-radius: 50%;

        &:active {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

.container-root-dialog {
  height: 100vh;
  z-index: 99;

  .container-dialog {
    height: 100vh;
    overflow: hidden;

    .dialog {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: calc(100vh - 24px);
      margin: auto auto 0 auto;
      background-color: #f7f7f7;
      border-radius: 0;

      .close {
        top: 29px;
        right: 29px;
        border-radius: 50%;

        &:active {
          background-color: #f0f0f0;
        }
      }

      .container-header {
        margin-top: 27px;
        margin-right: 24px;
        text-align: center;
      }

      .container-body {
        flex: 1;
        margin-right: 0;
        margin-left: 0;
        padding-right: 24px;
        padding-left: 24px;
        overflow-y: scroll;
      }

      @media screen and (min-width: 960px) {
        width: fit-content;
        height: fit-content;
        margin: auto;
        border-radius: 16px;
      }
    }
  }
}

.container-root {
  height: 100vh;
  padding-top: 24px;
  z-index: 99;

  .container-dialog {
    height: 100%;
    overflow: hidden;

    .dialog {
      display: flex;
      flex-direction: column;
      max-width: 1170px;
      margin: 0 auto 0 auto;
      background-color: #f7f7f7;
      border-radius: 0;

      .close {
        top: 29px;
        right: 29px;
        border-radius: 50%;

        &:active {
          background-color: #f0f0f0;
        }
      }

      .container-body {
        flex: 1;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-right: 24px;
        padding-left: 24px;
        overflow-y: scroll;
      }

      .container-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 54px;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
        background-color: white;

        .button-cancel {
          min-width: 85px;
          height: 40px;
          background-color: transparent;
          border: 1px solid #23a4ad;
          font-size: 16px;
          line-height: 24px;
          color: #23a4ad;

          &:hover {
            border-color: #5fbdbe;
            background-color: #5fbdbe;
            color: white;
          }

          &:active {
            background-color: #43878c;
            color: white;
          }
        }

        .button-confirm {
          margin-left: 16px;
          min-width: 85px;
          height: 40px;
          background-color: #23a4ad;
          border: 1px solid #23a4ad;
          font-size: 16px;
          line-height: 24px;
          color: white;

          &:hover {
            border-color: #5fbdbe;
            background-color: #5fbdbe;
            color: white;
          }

          &:active {
            background-color: #43878c;
            color: white;
          }

          @media screen and (min-width: 960px) {
            margin-left: 24px;
          }
        }

        @media screen and (min-width: 480px) {
          height: 70px;
        }

        @media screen and (min-width: 960px) {
          height: 80px;
          padding-right: 24px;
          padding-left: 24px;
        }
      }

      @media screen and (min-width: 960px) {
        margin-right: 5%;
        margin-left: 5%;
        border-radius: 16px 16px 0 0;
      }
    }
  }

  @media screen and (min-width: 480px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 960px) {
    padding-top: 5%;
  }
}

.inner-container-radius {
  border-radius: 8px;
}
