.sectionHeader {
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto";
    padding: 0 9px;

    & h4 {
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @media screen and (min-width: 673px) {
            font-size: 20px;
        }
    }
    & h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: normal;
        text-transform: capitalize;

        @media screen and (min-width: 673px) {
            font-size: 44px;
        }
    }
    & p {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .03em;

        @media screen and (min-width: 673px) {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: normal;
        }
    }
    @media screen and (min-width: 1056px) {
        padding:  0px;
    }
}