.container-nav {
  position: relative;
  z-index: 9;
}

.container-drawer-cart {
  display: flex;
  width: 25vw;
  min-width: 280px;
  max-width: 450px;
  padding-top: 48px;

  @media screen and (min-width: 960px) {
    padding-top: 96px;
  }
}
