.root {
  background-color: transparent;
}
.root:hover {
  background-color: transparent !important;
}
.radio-blank {
  width: 24px;
  height: 24px;
}
.radio-image {
  width: 24px;
  height: 24px;
}
.radio-color-dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}

/* ================================================ */

.radio-bottom-border {
  position: absolute;
  width: 38px;
  height: 50px;
  /* border-radius: 10px; */
  top: -8px;
  left: 2px;
  border-bottom: 2px solid #000;
}
.radio-outer-border {
  position: absolute;
  width: 62px;
  height: 80px;
  border-radius: 10px;
  top: -3px;
  left: -7px;
  border: 2px solid #000;
}
.radio-outer-border-large {
  position: absolute;
  width: 240px;
  height: 58px;
  /* border-radius: 10px; */
  top: -8px;
  left: -10px;
  border: 2px solid #000;
}
