.table {
  margin-bottom: 28px;
  border: none;
  overflow: hidden;

  .body {
    display: grid;
    grid-row-gap: 64px;
    overflow-x: scroll;

    .row {
      align-items: baseline;
      gap: 16px;

      .cell {
        flex-direction: column;
        padding-left: 12%;

        .cell-text {
          white-space: pre-wrap;
        }

        .cell-dot {
          width: 16px;
          height: 16px;
          border: 1px solid #E5E5E5;
          border-radius: 50%;
        }
      }
    }
  }
}