/* ================== contact-form input ================== */
.form-input input::placeholder, .form-input textarea::placeholder {
    color: #BFBFBF;
    font-size: 16px;
}

/* ================== home ================== */
.container-display-home {
    /*max-width: 1920px;*/
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

/* ================== canopy-tent ================== */
.tab-highlight-horizon {
    width: 24px;
    height: 6px;
    background-color: #23A4AD;
    border-radius: 3px;
}

.tab-highlight-horizon.long {
    width: 40px;
}

.container-display {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.container-display-no-margin-bottom {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.container-display:last-child {
    margin-bottom: 0;
}

.container-display.center {
    text-align: center
}

.container-grid-display {
    position: relative;
    border-radius: 32px;
}

.container-icon-custom-printing-note {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-left: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    border: 2px solid black;
    border-radius: 50%;
}

.text-title-display {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    /*letter-spacing: 0.2em;*/
}

.text-title-display.left {
    text-align: left;
}

.text-content-display {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    /*letter-spacing: 0.2em;*/
}

.text-subtitle-display {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    /*letter-spacing: 0.2em;*/
}

.text-subtitle-display.left {
    text-align: left;
}

.container-grid-icon {
    width: 100%;
    margin: 12px 0;
    padding: 0 4px;
    text-align: center;
}

.icon-tent-size {
    object-fit: contain;
    height: 60px;
}

.icon-tent-size-alt {
    object-fit: contain;
    height: 114px;
}

.text-tent-size {
    letter-spacing: -0.04em;
    font-size: 12px;
}

.text-tent-label {
    letter-spacing: -0.04em;
    font-size: 16px;
    font-weight: 700;
}

.react-player {
    position: relative;
    width: 100%;
    height: 100%;
}

.react-player video,
.react-player img {
    object-fit: cover;
}

.react-carousel {
    border-radius: 32px;
}

.react-carousel-dusk {
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.react-carousel-dusk.round {
    border-radius: 32px;
}

.react-carousel-small .carousel.carousel-slider {
    overflow: visible;
}

.react-carousel-small .carousel .control-dots {
    bottom: -36px;
}

.react-image-carousel-small .carousel-root {
    width: 100%;
}

.react-image-carousel-small .carousel.carousel-slider {
    overflow: visible;
}

.react-image-carousel-small .carousel .control-dots {
    bottom: -16px;
}

.react-image-gallery-arrow {
    position: absolute;
    top: calc(50% - 28px);
    width: 56px;
    height: 56px;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.react-image-gallery-arrow.left {
    left: 56px;
}

.react-image-gallery-arrow.right {
    right: 56px;
}

.react-carousel-arrow {
    position: absolute;
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    z-index: 2;
}

.react-carousel-arrow.dark {
    background-color: rgba(0, 0, 0, 0.3);
}

.react-carousel-arrow.left {
    left: calc(50% - 40px)
}

.react-carousel-arrow.right {
    right: calc(50% - 40px)
}

/* ================== ================== ================== */

.spec-sticky-bar {
    position: sticky;
    top: calc(92px - 100px - 20px);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}

ul.bullet-warranty > li {
    list-style-type: none;
    position: relative; /* It's needed for setting position to absolute in the next rule. */
    margin-bottom: 16px;
}

ul.bullet-privacy > li {
    list-style-type: none;
    position: relative; /* It's needed for setting position to absolute in the next rule. */
    margin-bottom: 4px;
}

ul.bullet-warranty > li::before, ul.bullet-privacy > li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

ul.bullet-warranty.sub {
    margin-top: 4px;
}

ul.bullet-warranty.sub > li {
    margin-bottom: 0;
    margin-left: 1.5em;
}

.originalClass {
    height: 100%;
}

.thumbnailClass {
    width: 62px !important;
    margin-top: 0 !important;
    margin-bottom: 16px;
}

.image-gallery-thumbnail {
    border: 1px solid white !important;
    box-sizing: border-box;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
    border: 1px solid #d9d9d9 !important;
    box-sizing: border-box;
}

.image-gallery-slide-wrapper {
    /* width: 80%; */
    margin: auto;
    padding: 0 10%;
}

.image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
    max-height: calc(86vh - 68px - 48px) !important;
}

.image-gallery-image-wall {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modalRoot-image {
    padding-right: 16px;
    padding-left: 16px;
}

.modalGallery .image-gallery-thumbnails {
    display: none;
}

.modalDialog {
    max-width: 1170px;
    margin: 0;
    padding-bottom: 54px;
    background-color: #f7f7f7;
    border-radius: 0;
    overflow: hidden;
}

.modalSelectionContainer {
    height: 100%;
    margin: 0;
    padding-top: 24px;
    overflow: scroll;
}

.hideScrollBar::-webkit-scrollbar {
    display: none;
}

.hideScrollBar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.container-selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    /*margin-bottom: 32px;*/
    padding-top: 32px;
    text-align: center;
    align-items: center;
}

.accordion-header[aria-expanded="true"] {
    border-bottom: 1px solid #23A4AD;
}

.quantity-display {
    min-width: 52px;
    height: 52px;
    /*padding: 0;*/
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: 3px solid #23A4AD;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 26px;
}

.quantity-button {
    width: 52px;
    height: 52px;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid #D9D9D9;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-sign-up-desc {
    text-decoration: underline;
}

.container-input-address > div {
    margin-bottom: 16px;
}

.container-input {
    border-width: 1px;
    border-radius: 8px;
    background-color: transparent;
}

.container-input.password {
    padding-right: 0;
}

.container-input-select {
    border-width: 0;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
    height: 46px;
}

.container-input-select-dropdown {
    max-height: 300px;
    z-index: 9;
}

.container-inner-input {
    background-color: transparent
}

.container-input-enquiry {
    padding-right: 0;
    padding-left: 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
    background-color: transparent
}

.container-inner-input-enquiry {
    background-color: transparent
}

.input-enquiry {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: transparent
}

.input-address {
    height: 50px;
}

.checkbox-address {
    border-width: 1px;
    border-radius: 2px;
}

.checkbox-whole-side {
    width: 16px;
    height: 16px;
    margin: 4px 0;
    border-width: 1px;
    border-radius: 2px;
}

.modal-empty-footer {
    display: flex;
    justify-content: center;
}

.canopy-tent-tab {
    padding: 12px;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: nowrap;
    background: transparent;
}

.canopy-tent-tab:hover {
    background: transparent;
}

.custom-printing-canopy-tent-tab {
    padding: 12px;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: nowrap;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 38px;
}

.custom-printing-canopy-tent-tab:hover {
    background: transparent;
}

.cursor:hover {
    cursor: pointer;
}

.size-guide-table div {
    text-align: center;
}

.b-l-1 {
    border-left: 1px solid #d9d9d9;
}

.b-t-1 {
    border-top: 1px solid #d9d9d9;
}

.b-b-1 {
    border-bottom: 1px solid #d9d9d9;
}

.b-r-1 {
    border-right: 1px solid #d9d9d9;
}

@media screen and (max-width: 480px) {
    .image-gallery-thumbnails {
        display: none;
    }

    .image-gallery-slide-wrapper.left,
    .image-gallery-slide-wrapper.right {
        width: 100% !important;
    }

    .radioGroupColor {
        grid-template-columns: auto auto auto;
    }

    .radioGroupWall {
        grid-template-columns: repeat(auto-fill, 50%);
    }
}

@media screen and (min-width: 480px) {
    .container-display {
        margin-bottom: 80px;
    }

    .gird-display-media,
    .gird-display-image {
        grid-template-columns: repeat(2, 49%);
    }

    .text-content-display {
        font-size: 26px;
        line-height: 32px;
    }

    .text-title-display {
        font-size: 40px;
        line-height: 40px;
    }

    .modalRoot {
        padding-top: 32px;
    }

    .modalDialog {
        padding-bottom: 70px;
    }

    .modalDialog-summary {
        padding-bottom: 0;
    }

    .react-carousel-small .carousel .control-dots {
        bottom: -44px;
    }

    .react-image-carousel-small .carousel .control-dots {
        bottom: -24px;
    }

    .icon-tent-size-alt {
        height: 170px;
    }
}

@media screen and (min-width: 960px) {
    .container-display {
        margin-bottom: 120px;
    }

    .modalRoot {
        padding-top: 5%;
    }

    .modalDialog {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 80px;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }

    .modalDialog-summary {
        margin: auto;
        max-width: 880px;
        height: 526px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    .modalSelectionContainer {
        /* margin-right: 64px;
        margin-left: 64px; */
        padding-top: 40px;
        overflow: unset;
    }

    .icon-tent-size {
        height: 90px;
    }

    .icon-tent-size-alt {
        height: 220px;
    }

    .text-tent-size {
        font-size: 14px;
    }

    .text-tent-label {
        font-size: 24px;
    }

    .text-title-display {
        font-size: 44px;
        line-height: 44px;
    }

    .card-radius-right {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        overflow: hidden;
    }

    .card-radius-left {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        overflow: hidden;
    }
}

/* canopy tent product */
.button-add {
    width: 90px;
    height: 32px;
    background-color: transparent;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    border: 1px dashed #8c8c8c;
}

.button-add:hover, .button-add:active {
    color: black;
    background-color: transparent;
    border-color: #23a4ad;
}

.button-edit {
    width: 90px;
    height: 32px;
    background-color: #23a4ad;
    font-size: 14px;
    line-height: 22px;
    border: 1px dashed #23a4ad;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
}

@supports (scroll-snap-type: y mandatory) {
    @media screen and (min-width: 960px) {
        .scroll-container {
            scroll-snap-type: y mandatory;
        }

        .scroll-section {
            /*height: 100vh;*/
            scroll-snap-align: center;
        }

        .for-scroll {
            display: none;
        }
    }
}

.text-ellipsis * {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.radio-dot {
    width: 38px;
    height: 38px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.button-linear-gradient {
    width: 100%;
    height: 52px;
    padding: 3px;
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    background: linear-gradient(to left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
}

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #23A4AD;
    font-size: 10px;
    margin: 45px auto 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.loader-circle {
    color: #23A4AD;
    font-size: 36px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 36px auto 50px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.feature-frame-dot {
    position: absolute;
    background: #23A4AD;
    border-radius: 50%;
    animation: breathe 2.5s linear infinite;
}

.frame-intro {
    background-color: white;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
}

.displayFlex {
    display: flex;
}

.displayNone {
    display: none;
}

.frame-intro-background-in {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: fadeIn 800ms;
}

.frame-intro-background-out {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    animation: fadeOut 800ms;
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 0 0 rgba(35, 164, 173, 0.3)
    }

    50% {
        box-shadow: 0 0 0 6px rgba(35, 164, 173, 0.3)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(35, 164, 173, 0.3)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal-dialog-white {
    background-color: white !important;
}

.modal-dialog-body {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.cs-listItem-root {
    height: 68px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: transparent;
}

.cs-listItem-content {
    padding-left: 12px;
    padding-right: 0;
    border-bottom: none;
}

.cs-listItem-artwork {
    position: relative;
    width: 44px;
    height: 44px;
}

.cs-side-button {
    border: 2px solid #D0D9D9;
}

.cs-side-button.selected {
    border-color: rgba(35, 164, 173);
}

.cs-block-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 12px;
    align-items: center;
}

.cs-block {
    width: 14px;
    height: 14px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
}

.cs-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
}

.cs-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #808080
}

.triangle-curved {
    width: 0;
    height: 0;
    border-top-width: 68px;
    border-top-style: solid;
    border-right: 65px solid transparent;
    border-left: 65px solid transparent;
}

.triangle-curved.bottom {
    border-top: none;
    border-bottom-width: 68px;
    border-bottom-style: solid;
}

.triangle-curved2 {
    width: 0;
    height: 0;
    border-top-width: 20px;
    border-top-style: solid;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    transition: all .15s ease-in-out;
}

.triangle-curved2.bottom {
    border-top: none;
    border-bottom-width: 20px;
    border-bottom-style: solid;
}

@media screen and (min-width: 480px) {

    .triangle-curved2 {
        border-top-width: 24px;
        border-right: 25px solid transparent;
        border-left: 25px solid transparent;
    }

    .triangle-curved2.bottom {
        border-top: none;
        border-bottom-width: 24px;
    }
}

@media screen and (min-width: 960px) {
    .triangle-curved {
        border-top-width: 80px;
        border-right: 75px solid transparent;
        border-left: 75px solid transparent;
    }

    .triangle-curved.bottom {
        border-bottom-width: 80px;
    }

    .triangle-curved2 {
        border-top-width: 40px;
        border-right: 35px solid transparent;
        border-left: 35px solid transparent;
    }

    .triangle-curved2.bottom {
        border-bottom-width: 40px;
    }
}

.custom-printing-roof-modal-body {
    margin-top: 0 !important;
    padding-top: 16px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: white !important;
}

.custom-printing-roof-modal-footer {
    margin: 0;
    padding: 0;
}

.select-control-container {
    height: 28px;
    background-color: #F7F7F7;
}


.select-value-container {
    display: flex;
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    font-family: Roboto, serif;
    line-height: 26px;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}

.container-canopy-tent-spec {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 8px;
}

.canopy-tent-spec-display-outer {
    border-width: 0;
}

.canopy-tent-spec-display-inner {
    border-width: 1px;
    background: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

@media screen and (min-width: 672px) {
    .canopy-tent-spec-display-outer {
        border-width: 1px;
        background: rgba(255, 255, 255, .8);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .canopy-tent-spec-display-inner {
        border-width: 0;
        background: transparent;
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
    }
}

.custom-printing-canopy-tent-frame-carousel .carousel .control-dots {
    top: 0;
    bottom: unset;
    margin: 0;
}

.custom-printing-canopy-tent-frame-carousel .carousel .control-dots .dot {
    background-color: #D9D9D9;
}

.custom-printing-canopy-tent-frame-carousel .carousel .control-dots .dot.selected {
    background-color: #262626;
}

.tab-custom-printing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;
    padding: 8px 2px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

.tab-artwork-custom-printing {
    position: relative;
    height: 80px;
    margin-right: 0;
    justify-content: center;
}

.tab-panel-custom-printing {
    width: 100%;
    min-height: 400px;
    margin-top: 4px;
    padding: 0;
    border-top: 1px solid #F2F2F2;
}

@media screen and (min-width: 672px) {
    .tab-custom-printing {
        margin-bottom: 20px;
    }
}