@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500");
* {
  box-sizing: border-box;
}
body {
  background-color: white !important;
}
.container-page {
  /* padding-top: calc(34px+48px+34px); */
  padding-top: 116px;
  background-color: white;
}
.page > div:first-child {
  margin-top: 0 !important;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
a {
  color: var(--black);
  text-decoration: none;
  display: contents;
}
a:-webkit-any-link {
  color: var(--black);
}
p {
  margin-bottom: 12px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.z-9 {
  z-index: 9;
}
.z-99 {
  z-index: 99;
}
.f-bold {
  font-weight: bold;
}
.h-unset {
  height: unset !important;
}
