@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background);
}

.m-subheader-wrap, .m-body-section-wrap, .m-footer-wrap {
    width: 100%;
    max-width: var(--maximum-display-width);
    margin: auto;
}

.m-wrap-side {
    padding: 0 16px
}

.m-wrap-side-full {
    padding: 0;
}

@media (min-width: 960px) {
    .m-wrap-side {
        padding: 0 32px
    }

    .m-wrap-side-full {
        padding: 0;
    }
}

.divider {
    border-bottom: 1px solid #E0E0E0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-inherit {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.text-capitalize {
    text-transform: capitalize
}

.font-400 {
    font-weight: 400;
}

.glassmorphism {
    background: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.banner-display {
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.banner-display:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    overflow: hidden;
}

.section-round-corner {
    border-radius: 32px;
    overflow: hidden;
}

.section-round-corner-s {
    border-radius: 16px;
    overflow: hidden;
}

/* ============================================================ */

a {
    display: contents;
    text-decoration: none;
}

a:-webkit-any-link {
    color: inherit;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

