/* screen - homepage */

.section-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
.section-container-grid {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
.section-container-extend {
  position: relative;
  text-align: center;
  width: 100vw;
  left: calc(50% - 50vw);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
.section-image-container {
  position: relative;
}
.section-image {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}
.section-title {
  margin-bottom: 12px;
  color: var(--black);
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
}
.section-subtitle {
  margin-bottom: 12px;
  color: var(--black);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}
.section-content {
  margin-bottom: 12px;
  line-height: 1rem;
  color: var(--gray);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
}
.section-link-group {
  margin-bottom: 12px;
  align-items: center;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
}
.section-link-container {
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 4px;
}
.homepage .section-grid-item {
  height: 100%;
  margin: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  text-align: left;
}
.homepage .section-grid-item .section-link-group {
  justify-content: flex-start;
}
.homepage .section-grid-item .section-link-container:first-child {
  margin-left: 0;
}
/* ============================================================ */

.homepage .about-us-i7736639169-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 40px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .accessories-i774133917-IAyQz6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 57px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.homepage .affordable-choice-for-everyone-iuTNcX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 30px;
  min-width: 311px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .bali-mgF8xg {
  background-color: transparent;
  height: 229px;
  left: 76px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 229px;
}
.homepage .best-small-business-solution-zdv0gB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 30px;
  min-width: 279px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .blog-i7736639173-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .btm-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-right: 1px;
  margin-top: 29px;
  min-height: 515px;
  position: relative;
  width: 1153px;
}
.homepage .btm-wOeUpP {
  background-color: transparent;
  flex-shrink: 1;
  height: 284px;
  margin-top: 0px;
  position: relative;
}
.homepage .buy-5mrHCX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .buy-IsFsRO {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .buy-K2e0bM {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .buy-LuZHx3 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .buy-UFstXX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .buy-XQxktb {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .buy-urX8Wa {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .buy-y8gJuk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 45px;
  min-height: 16px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .call-for-price-only-0FdQOk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 16px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 570px;
}
.homepage .canopy-tent-i7736639161-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .canopy-tent-i774133911-IAyQz6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 12px;
  min-width: 58px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.homepage .cantilever-umbrella-i774133916-IAyQz6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.homepage .card-Xi618D {
  background-color: transparent;
  flex-shrink: 1;
  height: 360px;
  margin-left: 18px;
  position: relative;
  width: 354px;
}
.homepage .card-ycScJA {
  background-color: transparent;
  flex-shrink: 1;
  height: 371px;
  margin-left: 18px;
  position: relative;
  width: 354px;
}
.homepage .catalina-Q1YJda {
  background-color: transparent;
  height: 285px;
  left: 47px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 285px;
}
.homepage .catalina-umbrella-oversized-Q1YJda {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 302px;
}
.homepage .company-i7736639167-fSWOfV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-left: 1px;
  min-height: 12px;
  min-width: 50px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .connect-with-us-i7736639157-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 41px;
  white-space: nowrap;
  width: auto;
}
.homepage .contact-us-i7736639170-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .custom-printing-i7736639162-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .custom-printing-i774133912-IAyQz6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.homepage .custom-your-own-design-HqxMkG {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-right: 3px;
  margin-top: 0px;
  min-height: 30px;
  min-width: 251px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .email-address-i7736639177-L7jW4C {
  background-color: transparent;
  color: var(--nobel);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 9px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.homepage .flex-row-qsbZ2f {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-top: 12px;
  min-width: 458px;
  position: relative;
  width: auto;
}
.homepage .frame-1-x3cFt6 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 12px;
  justify-content: flex-start;
  left: 284px;
  min-width: 585px;
  position: absolute;
  top: 9px;
  width: auto;
}
.homepage .frame-2-1ssCxD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 68px;
}
.homepage .frame-3-fSWOfV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 83px;
}
.homepage .frame-5-Iy6rHE {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 181px;
  position: relative;
  width: 568px;
}
.homepage .frame-5-R5g3wD {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 181px;
  position: relative;
  width: 568px;
}
.homepage .frame-5-RMzFJm {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 181px;
  position: relative;
  width: 568px;
}
.homepage .frame-5-gAWDdW {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 181px;
  position: relative;
  width: 568px;
}
.homepage .from-245-iuTNcX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 16px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 570px;
}
.homepage .from-445-zdv0gB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 16px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 570px;
}
.homepage .from-619-xrGarF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 16px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 570px;
}
.homepage .group-1-kzXf1q {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  position: relative;
  width: 1158px;
}
.homepage .group-2-kzXf1q {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-top: 0px;
  position: relative;
  width: 1154px;
}
.homepage .group-24-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 110px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 70px;
}
.homepage .group-25-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 340px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 85px;
}
.homepage .group-26-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 586px;
  min-height: 54px;
  position: absolute;
  top: 120px;
  width: 464px;
}
.homepage .group-28-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: flex-end;
  left: 377px;
  min-width: 143px;
  position: absolute;
  top: 233px;
  width: auto;
}
.homepage .group-3-kzXf1q {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-left: -4px;
  margin-top: 0px;
  position: relative;
  width: 1160px;
}
.homepage .group-66-0FdQOk {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 16px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 9px;
  min-width: 135px;
  position: relative;
  width: auto;
}
.homepage .group-66-8D669W {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content: flex-start;
  left: 40px;
  min-width: 135px;
  position: absolute;
  top: 94px;
  width: auto;
}
.homepage .group-66-HqxMkG {
  align-items: center;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  position: relative;
  width: auto;
}
.homepage .group-66-Q1YJda {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content: flex-start;
  left: 40px;
  min-width: 135px;
  position: absolute;
  top: 94px;
  width: auto;
}
.homepage .group-66-iuTNcX {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 16px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 9px;
  min-width: 135px;
  position: relative;
  width: auto;
}
.homepage .group-66-xrGarF {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 16px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 9px;
  min-width: 135px;
  position: relative;
  width: auto;
}
.homepage .group-66-zdv0gB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 16px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 9px;
  min-width: 135px;
  position: relative;
  width: auto;
}
.homepage .group-67-4a9k2Y {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 292px;
  min-height: 155px;
  position: absolute;
  top: 404px;
  width: 574px;
}
.homepage .group-68-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 181px;
  justify-content: flex-start;
  left: 292px;
  min-width: 568px;
  position: absolute;
  top: 395px;
  width: auto;
}
.homepage .group-69-eSNWXa {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 181px;
  justify-content: flex-start;
  left: 0px;
  min-width: 568px;
  position: absolute;
  top: 395px;
  width: auto;
}
.homepage .group-70-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 181px;
  justify-content: flex-start;
  left: 292px;
  min-width: 568px;
  position: absolute;
  top: 374px;
  width: auto;
}
.homepage .group-71-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 181px;
  justify-content: flex-start;
  left: 292px;
  min-width: 568px;
  position: absolute;
  top: 1055px;
  width: auto;
}
.homepage .highest-reliabl-vid-19-solution-0FdQOk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 30px;
  min-width: 341px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .ideal-for-creat-ing-environment-0FdQOk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 32px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 570px;
}
.homepage .image-28-cr0vIO {
  background-color: transparent;
  height: 76px;
  left: 892px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 152px;
}
.homepage .image-29-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.homepage .image-30-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.homepage .image-31-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.homepage .image-32-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.homepage .industry-leadin-quality-durable-xrGarF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 30px;
  min-width: 345px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .learn-more-5mrHCX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-IsFsRO {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-K2e0bM {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-LuZHx3 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-UFstXX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-XQxktb {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-urX8Wa {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .learn-more-y8gJuk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.homepage .line-1-c4KUqp {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 23px;
  position: relative;
  width: 934px;
}
.homepage .line-2-cr0vIO {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 208px;
  width: 1153px;
}
.homepage .login-register-i77413396-wbb5cG {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1065px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.homepage .market-umbrella-i7736639164-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 70px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .market-umbrella-i774133914-IAyQz6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.homepage .medical-canopy-tent-0FdQOk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  min-height: 51px;
  min-width: 371px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .medical-canopy-tent-RH0WJ5 {
  background-color: transparent;
  height: 514px;
  left: 319px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 576px;
  width: 514px;
}
.homepage .medical-tent-i7736639163-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .medical-tent-i774133913-IAyQz6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 60px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.homepage .more-wOeUpP {
  align-items: flex-end;
  background-color: #f5f5f7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  min-height: 231px;
  padding: 25px 107px;
  position: relative;
  width: 1152px;
}
.homepage .more-ways-to-sh-111-i7736539152-c4KUqp {
  background-color: transparent;
  color: transparent;
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 23px;
  min-height: 12px;
  min-width: 936px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 936px;
}
.homepage .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 616px;
  margin-top: 0px;
  position: relative;
  width: 1152px;
}
.homepage .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1236px;
  margin-top: 21px;
  position: relative;
  width: 1152px;
}
.homepage .overlap-group2-C61RwL {
  flex-shrink: 1;
  height: 559px;
}
.homepage .overlap-group3-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 576px;
  margin-top: 0px;
  position: relative;
  width: 568px;
}
.homepage .overlap-group4-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-left: 10px;
  position: relative;
  width: 152px;
}
.homepage .overlap-group5-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 296px;
}
.homepage .printed-canopy-tent-01-4a9k2Y {
  background-color: transparent;
  height: 321px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 426px;
}
.homepage .product-i7736639159-1ssCxD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-left: 0.5px;
  min-height: 12px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .rectangle-12-cr0vIO {
  background-color: #414141;
  height: 284px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.homepage .rectangle-13-L7jW4C {
  background-color: transparent;
  border: 1px solid var(--nobel);
  border-radius: 2px;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.homepage .rectangle-14-xfQsZ8 {
  background-color: #aaaaaa;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 152px;
}
.homepage .rectangle-15-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 589px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.homepage .rectangle-16-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 627px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.homepage .rectangle-17-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 665px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.homepage .rectangle-18-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 703px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.homepage .rectangle-19-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 741px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.homepage .rectangle-2-wbb5cG {
  background-color: #aedddc;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.homepage .rectangle-2-x3cFt6 {
  background-color: #333333;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.homepage .rectangle-37-4eduM0 {
  background-color: var(--alabaster);
  height: 504px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 112px;
  width: 1152px;
}
.homepage .rectangle-38-RH0WJ5 {
  background-color: var(--alabaster);
  height: 504px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 91px;
  width: 1152px;
}
.homepage .rectangle-39-8D669W {
  background-color: var(--alabaster);
  border-radius: 8px;
  height: 360px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 352px;
}
.homepage .rectangle-39-Q1YJda {
  background-color: var(--alabaster);
  border-radius: 8px;
  height: 360px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 352px;
}
.homepage .santorini-8D669W {
  background-color: transparent;
  height: 229px;
  left: 75px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 229px;
}
.homepage .santorini-umbrella-deluxe-8D669W {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 302px;
}
.homepage .shipping-and-re-urn-i7736639171-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 85px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .sign-up-for-new-order-i77413394-wbb5cG {
  background-color: transparent;
  height: auto;
  left: 458px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}
.homepage .sign-up-for-the-ion-i7736639176-qsbZ2f {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 189px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .simple-logos-ca-d-custom-canopy-HqxMkG {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 32px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 570px;
}
.homepage .site-map-terms-icy-i7736639187-cr0vIO {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 611px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.homepage .span0-KVh9Au {
  font-style: normal;
}
.homepage .span1-KVh9Au {
  color: #2666c3;
  font-style: normal;
}
.homepage .span2-KVh9Au {
  font-style: normal;
}
.homepage .span3-KVh9Au {
  color: #2666c3;
  font-style: normal;
}
.homepage .span4-KVh9Au {
  font-style: normal;
}
.homepage .subscribe-i7736639178-xfQsZ8 {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.homepage .supportwestshad-com-i7736639186-cr0vIO {
  background-color: transparent;
  color: var(--nobel);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 110px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.homepage .tilt-umbrella-i7736639165-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .tilt-umbrella-i774133915-IAyQz6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.homepage .title-HqxMkG {
  /* flex-shrink: 1;
  letter-spacing: 0px;
  line-height: normal;
  min-width: 420px;
  mix-blend-mode: normal;
  text-align: center;
  width: auto; */
  margin-bottom: 12px;
}
.homepage .top-4a9k2Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 84px;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.homepage .umbrellas-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 1px;
  margin-top: 78px;
  min-height: 51px;
  min-width: 183px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .warranty-i7736639172-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.homepage .westshade-i77413399-x3cFt6 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 45px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.homepage .x1-in-stock-orde-ing-i7736539151-c4KUqp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 120px;
  min-width: 936px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 936px;
}
.homepage .x19495228111-i77413395-wbb5cG {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 990px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.homepage .x2021-westshade-ved-i7736639188-cr0vIO {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 879px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.homepage .x949-552-8111-i7736639189-cr0vIO {
  background-color: transparent;
  color: #5fbaba;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 244px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.homepage .y5-RH0WJ5 {
  background-color: transparent;
  height: 384px;
  left: 384px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 384px;
}
.homepage .y5-economic-canopy-iuTNcX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  min-height: 51px;
  min-width: 371px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .y6-aluminum-ins-door-adventures-zdv0gB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 32px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 570px;
}
.homepage .y6-commercial-canopy-zdv0gB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  min-height: 51px;
  min-width: 417px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.homepage .y6-eSNWXa {
  background-color: transparent;
  height: 426px;
  left: 71px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 426px;
}
.homepage .y7-4eduM0 {
  background-color: transparent;
  height: 426px;
  left: 363px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 426px;
}
.homepage .y7-aluminum-ins-e-your-business-iuTNcX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 32px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 570px;
}
.homepage .y7-aluminum-ins-e-your-business-xrGarF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 32px;
  min-width: 570px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 570px;
}
.homepage .y7-heavy-duty-canopy-xrGarF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 2px;
  min-height: 51px;
  min-width: 397px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
