.container-page {
  position: relative;

  .container-product-image {
    position: sticky;
    top: 24px;
    width: 100%;
    aspect-ratio: 1;
  }

  .container-product-section {
    min-height: 64px;
    margin-bottom: 12px;
    padding: 12px 0;

    &.b-b {
      border-bottom: 1px solid #7f7f7f;

      &:last-child {
        border-bottom: none;
      }
    }

    .product-name {
      font-size: 34px;
      font-weight: bold;
    }

    .product-description {
      padding: 12px 10px;

      & ul {
        margin: 12px auto;

        & li::before {
          display: inline-block;
          content: "\2022";
          font-weight: bold;
          width: 1em;
        }
      }
    }

    .product-selection-title {
      font-size: 14px;
    }

    .product-selection-subtitle {
      margin-top: 8px;
      color: #06c;
    }

    .product-selection-label-image {
      margin-left: 24px;
      width: 36px;
      aspect-ratio: 1;
    }

    .product-selection-wall-tabs {
      margin-top: 18px;
      margin-bottom: 18px;

      & > :first-child {
        overflow: scroll !important;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari and Opera */
        }
      }

      .wall-tab {
        min-width: 84px;
        text-transform: capitalize;
      }

      .tabs-indicator {
        background-color: #000;
      }
    }

    .product-selection-package-tabs {
      margin-top: 18px;
      margin-bottom: 18px;

      .package-tab {
        min-width: 120px;
        text-transform: capitalize;

        &.selected {
          background-color: black;
          color: white;
          border-radius: 24px;
        }
      }
    }

    .product-selection-package-tab-panel {
      padding: 0 22px;
    }
  }

  .product-price {
    margin-right: 8px;
    margin-bottom: 12px;
    color: #000;
    font-size: 24px;
    font-weight: bold;

    &.discount {
      color: #7f7f7f;
      font-size: 16px;
      text-decoration: line-through;
    }
  }

  .product-message {
    padding: 12px 0;
    color: #b50808;
    font-weight: bold;
  }

  .product-shipping {
    margin-bottom: 12px;
    color: #7f7f7f;
    font-size: 14px;
  }

  .button-group {
    margin-bottom: 12px;

    .divider-vertical {
      height: 14px;
      margin: auto 6px;
      background-color: #7f7f7f;
    }
  }
}
