.root-tab {
    min-height: 40px !important;
    text-transform: capitalize !important;
}

.tab-selected {
    background-color: black !important;
    color: white !important;
    border-radius: 24px !important;
}

.tab-indicator {
    background-color: #000 !important;
}

.tab-label-icon {
    text-transform: capitalize;
    font-size: 0.825rem;
}

/* screen - y5-buy */
.section-border {
    margin: 12px auto;
    width: 100%;
    border-bottom: 1px solid rgb(119, 119, 119);
}

.section-selection-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
}

.section-selection-container > .section-selection-container {
    margin-top: 0;
}

.section-selection-container-title {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: bold;
}

.section-selection-container-description-title {
    color: var(--black);
    font-size: 0.825rem;
    font-weight: bold;
}

.section-selection-container-description {
    margin-top: 13px;
    color: var(--gray);
    font-size: 0.825rem;
    font-weight: normal;
    padding-left: 12px;
}

.section-selection-container-description ul {
    margin: 12px auto;
}

.section-selection-container-description ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.section-custom-printed-package-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-selection-title {
    margin-top: 18px;
    margin-bottom: 24px;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
}

.section-selection-title > span {
    margin-right: 12px;
}

.section-selection-subtitle {
    margin-top: 8px;
    color: var(--denim);
    font-size: 0.825rem;
}

.section-radio-group-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-quote-input {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.tabs-root {
    margin-bottom: 18px;
}

@media (min-width: 600px) {
    .text-tab {
        min-width: 84px !important;
    }
}

.section-radio-outer-border {
    position: absolute;
    width: 62px;
    height: 80px;
    border-radius: 10px;
    top: -8px;
    left: -10px;
    border: 2px solid #000;
}

.section-radio-outer-border-large {
    position: absolute;
    width: 240px;
    height: 58px;
    /* border-radius: 10px; */
    top: -8px;
    left: -10px;
    border: 2px solid #000;
}

.section-radio-border-circle {
    position: absolute;
    width: 38px;
    height: 38px;
    /* border-radius: 10px; */
    top: 2px;
    left: 2px;
    border: 2px solid #000;
    border-radius: 50%;
}

.section-radio-border {
    position: absolute;
    width: 38px;
    height: 50px;
    /* border-radius: 10px; */
    top: -8px;
    left: 2px;
    border-bottom: 2px solid #000;
}

.section-selection-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.section-checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 36px;
}

.section-line-button-container {
    display: flex;
}

.checkout-button {
    box-shadow: none !important;
    background-color: #4e8d5e !important;
    color: white !important;
}

.getQuote-button {
    box-shadow: none !important;
    background-color: #0066cc !important;
    color: white !important;
}

.product .MuiIconButton-label input {
    display: none;
}

.tabs-desc {
    margin-bottom: 48px;
}

.tabs-desc .MuiTabs-indicator {
    background-color: black;
}


.section-image-package-listItem {
    min-height: 48px;
}

.section-image-package-listItem-title span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section-image-package-listItem-title.center span {
    text-align: center;
}

.section-image-package-listItem-subtitle,
.section-image-package-listItem-content {
    /* flex: 1; */
    width: 50%;
}

.section-image-package-listItem-subtitle span {
    font-size: 0.725rem;
    font-weight: bold;
    color: var(--gray);
    white-space: nowrap;
}

.section-image-package-listItem-subtitle-wrap span {
    white-space: normal !important;
}

.section-image-package-listItem-content span {
    text-align: center;
    font-size: 0.725rem;
    color: var(--gray);
    white-space: nowrap;
}

.section-image-package-listItem-button > div {
    margin-top: 24px;
}

.section-canopy-tent-listItem {
    min-height: 42px;
}

.section-canopy-tent-listItem-content span {
    text-align: left;
    font-size: 0.725rem;
    font-weight: bold;
    color: var(--gray);
    white-space: nowrap;
    transform: translateX(25%);
}

.section-canopy-tent-listItem-content p {
    text-align: left;
    font-size: 0.725rem;
    color: var(--gray);
    /* white-space: nowrap; */
    transform: translateX(25%);
}

/* screen - y5-overview */
.canopy-tent .section-title {
    margin-bottom: 12px;
    color: var(--black);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
}

.section-grid-button {
    background-color: #828a90 !important;
    color: white !important;
    font-size: 0.625rem !important;
    font-style: normal;
    margin-bottom: 12px !important;
}

