/* screen - y5-overview */

.canopy-tent .section-title {
  margin-bottom: 12px;
  color: var(--black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}
.canopy-tent .section-subtitle {
  margin-bottom: 6px;
  color: var(--nobel);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
}
.canopy-tent .section-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--concrete);
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
}
.section-grid-item-inner {
  padding: 20px;
  text-align: left;
}
.section-grid-image {
  max-height: 240px;
  object-fit: contain;
  padding: 20px;
}
.section-grid-button {
  background-color: #828a90 !important;
  color: white !important;
  font-size: 0.625rem !important;
  font-style: normal;
}
.y5-overview .about-us-i6124039169-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .accessories-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 1px;
  margin-top: 46px;
  min-height: 12px;
  min-width: 57px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .accessories-xX2nsx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 57px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .additional-alum-and-durability-bxqqKs {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 282px;
}
.y5-overview .additional-connecting-poles-bxqqKs {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}
.y5-overview .adjustable-height-IVz3ET {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}
.y5-overview .animate-enter {
  animation: animate-enter-frames 0.2s ease-in-out 0s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: rotate(25deg);
}
.y5-overview .available-in-3-s-from-610-each-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 504px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 517px;
  width: auto;
}
.y5-overview .blog-i6124039173-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .bracket-connector-vkQ55x {
  background-color: transparent;
  height: 195px;
  left: 70px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 133px;
  width: 193px;
}
.y5-overview .bracket-connectors-vkQ55x {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}
.y5-overview .btm-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-right: 1px;
  margin-top: 30px;
  min-height: 515px;
  position: relative;
  width: 1153px;
}
.y5-overview .btm-wOeUpP {
  background-color: transparent;
  flex-shrink: 1;
  height: 284px;
  margin-top: 0px;
  position: relative;
  width: 1153px;
}
.y5-overview .buy-1tBXYU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 13px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}
.y5-overview .buy-8zu6gS {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .buy-Jx0TKr {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .buy-csFeQE {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .canopy-tent-i6124039161-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .canopy-tent-xX2nsx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 12px;
  min-width: 58px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .cantilever-umbrella-xX2nsx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .commercial-grad-t-uv-protection-aax5kZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 44px;
  min-height: 120px;
  min-width: 195px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .company-i6124039167-fSWOfV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 50px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .compare-all-pop-p-canopy-series-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 1px;
  margin-top: 21px;
  min-height: 16px;
  min-width: 161px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}
.y5-overview .connect-with-us-i6124039157-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 41px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .connecting-poles-bxqqKs {
  background-color: transparent;
  height: 200px;
  left: 39px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 130px;
  width: 269px;
}
.y5-overview .contact-us-i6124039170-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .cpai-84-certified-SKxQuI {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 174px;
}
.y5-overview .custom-printed-canopies-R9aOqY {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}
.y5-overview .custom-printed-or-uv-printing-R9aOqY {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 279px;
}
.y5-overview .custom-printing-i6124039162-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 67px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .custom-printing-xX2nsx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .customize-your-ighly-impactful-R9aOqY {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  width: 299px;
}
.y5-overview .different-needs-s-to-side-walls-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 21px;
  min-height: 32px;
  min-width: 348px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .each-pole-has-a-s-45mm-diameter-X8Pvu3 {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 168px;
}
.y5-overview .easy-set-up-eve-to-disassemble-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 54px;
  min-height: 19px;
  min-width: 294px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .economical-stee-ent-performance-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 40px;
  min-height: 19px;
  min-width: 424px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .email-address-i6124039177-eedn4Y {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .fabric-39u0ig {
  background-color: transparent;
  height: 181px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 170px;
  width: 182px;
}
.y5-overview .fabric-material-39u0ig {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: auto;
}
.y5-overview .feature-icons-SKxQuI {
  background-color: transparent;
  height: 137px;
  left: 53px;
  position: absolute;
  top: 193px;
  width: 110px;
}
.y5-overview .fire-water-wind-resistant-SKxQuI {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 130px;
}
.y5-overview .flex-col-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 2px;
  min-height: 3775px;
  position: relative;
  width: 1162px;
}
.y5-overview .flex-col-Xi618D {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 40px;
  min-height: 525px;
  position: relative;
  width: 203px;
}
.y5-overview .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 525px;
  position: relative;
  width: 207px;
}
.y5-overview .flex-col-ycScJA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 36px;
  min-height: 535px;
  position: relative;
  width: 210px;
}
.y5-overview .flex-row-0xy0vn {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 4px;
  min-width: 768px;
  position: relative;
  width: auto;
}
.y5-overview .flex-row-4iD7zR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 351px;
  justify-content: flex-start;
  margin-left: 2.33px;
  margin-top: 20px;
  min-width: 690px;
  position: relative;
  width: auto;
}
.y5-overview .flex-row-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 535px;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 40px;
  min-width: 696px;
  position: relative;
  width: auto;
}
.y5-overview .flex-row-oV5UrE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 362px;
  justify-content: flex-start;
  margin-left: 2px;
  margin-top: 20px;
  min-width: 690px;
  position: relative;
  width: auto;
}
.y5-overview .flex-row-qsbZ2f {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-top: 12px;
  min-width: 458px;
  position: relative;
  width: auto;
}
.y5-overview .flex-row-t6Autm {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 351px;
  justify-content: flex-start;
  margin-left: 4.33px;
  margin-top: 46px;
  min-width: 692px;
  position: relative;
  width: auto;
}
.y5-overview .follow-us-on-so-special-offers-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 40px;
  min-height: 16px;
  min-width: 400px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.y5-overview .footpads-G4yGno {
  background-color: transparent;
  height: 114px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 181px;
  width: 170px;
}
.y5-overview .footpads-lLkWJe {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 67px;
}
.y5-overview .frame-1-9JQqQB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 12px;
  justify-content: flex-start;
  left: 284px;
  min-width: 585px;
  position: absolute;
  top: 9px;
  width: auto;
}
.y5-overview .frame-2-1ssCxD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 67px;
}
.y5-overview .frame-3-fSWOfV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 81px;
}
.y5-overview .group-1-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 4px;
  position: relative;
  width: 1158px;
}
.y5-overview .group-10-ossvxU {
  background-color: transparent;
  flex-shrink: 1;
  height: 351px;
  margin-left: 15px;
  position: relative;
  width: 219px;
}
.y5-overview .group-11-ossvxU {
  background-color: transparent;
  flex-shrink: 1;
  height: 351px;
  margin-left: 16px;
  position: relative;
  width: 219px;
}
.y5-overview .group-12-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 228px;
  margin-left: 4px;
  margin-top: 47px;
  position: relative;
  width: 692px;
}
.y5-overview .group-13-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  margin-top: 21px;
  position: relative;
  width: 182px;
}
.y5-overview .group-14-gD87cZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 351px;
  position: relative;
  width: 219px;
}
.y5-overview .group-15-gD87cZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 351px;
  margin-left: 15px;
  position: relative;
  width: 221px;
}
.y5-overview .group-16-gD87cZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 351px;
  margin-left: 14px;
  position: relative;
  width: 221px;
}
.y5-overview .group-18-0xy0vn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 28px;
  justify-content: flex-start;
  margin-right: 2px;
  margin-top: 21px;
  min-width: 124px;
  position: relative;
  width: auto;
}
.y5-overview .group-19-2xPoMC {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  margin-top: 20px;
  position: relative;
  width: 66px;
}
.y5-overview .group-19-SP7X5s {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  margin-top: 20px;
  position: relative;
  width: 66px;
}
.y5-overview .group-19-aax5kZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  margin-top: 20px;
  position: relative;
  width: 66px;
}
.y5-overview .group-2-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-top: 0px;
  position: relative;
  width: 1154px;
}
.y5-overview .group-20-0PZcXW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 20px;
  min-height: 325px;
  position: relative;
  width: 203px;
}
.y5-overview .group-21-y0eQTV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 20px;
  min-height: 325px;
  position: relative;
  width: 203px;
}
.y5-overview .group-22-9HOxau {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 10px;
  min-height: 325px;
  position: relative;
  width: 203px;
}
.y5-overview .group-24-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 110px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 69px;
}
.y5-overview .group-25-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 341px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 83px;
}
.y5-overview .group-26-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 586px;
  min-height: 54px;
  position: absolute;
  top: 120px;
  width: 464px;
}
.y5-overview .group-28-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: flex-end;
  left: 377px;
  min-width: 143px;
  position: absolute;
  top: 233px;
  width: auto;
}
.y5-overview .group-3-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-right: 2px;
  margin-top: 0px;
  position: relative;
  width: 1160px;
}
.y5-overview .group-4-GyJUNH {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 433px;
  min-width: 239px;
  position: relative;
  width: auto;
}
.y5-overview .group-5-R9aOqY {
  background-color: transparent;
  height: 28px;
  left: 26px;
  position: absolute;
  top: 172px;
  width: 182px;
}
.y5-overview .group-6-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 174px;
  margin-left: 4px;
  margin-top: 74px;
  position: relative;
  width: 692px;
}
.y5-overview .group-7-QkTteQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 362px;
  position: relative;
  width: 337px;
}
.y5-overview .group-8-QkTteQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 362px;
  margin-left: 16px;
  position: relative;
  width: 337px;
}
.y5-overview .group-9-ossvxU {
  background-color: transparent;
  flex-shrink: 1;
  height: 351px;
  position: relative;
  width: 219px;
}
.y5-overview .image-28-cr0vIO {
  background-color: transparent;
  height: 76px;
  left: 892px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 152px;
}
.y5-overview .image-29-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-overview .image-30-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-overview .image-31-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-overview .image-32-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-overview .known-for-its-s-ility-longevity-lddKVC {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 174px;
}
.y5-overview .learn-more-2xPoMC {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 20px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}
.y5-overview .learn-more-SP7X5s {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 20px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}
.y5-overview .learn-more-aax5kZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 20px;
  min-height: 16px;
  min-width: 61px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: auto;
}
.y5-overview .limitless-solut-tless-scenarios-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 1px;
  margin-top: 14px;
  min-height: 19px;
  min-width: 307px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .line-1-c4KUqp {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 23px;
  position: relative;
  width: 934px;
}
.y5-overview .line-2-cr0vIO {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 208px;
  width: 1153px;
}
.y5-overview .login-register-D0vwai {
  background-color: transparent;
  height: auto;
  left: 1065px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.y5-overview .market-umbrella-i6124039164-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .market-umbrella-xX2nsx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .medical-tent-i6124039163-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .medical-tent-xX2nsx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 60px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .more-wOeUpP {
  align-items: flex-end;
  background-color: var(--cultured-pearl);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  min-height: 231px;
  padding: 25px 107px;
  position: relative;
  width: 1152px;
}
.y5-overview .more-ways-to-sh-111-i6123939152-c4KUqp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 23px;
  min-height: 12px;
  min-width: 936px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 936px;
}
.y5-overview .nuts-and-bolts-3keIur {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 67px;
}
.y5-overview .nuts-and-bolts-5t5hzl {
  background-color: transparent;
  height: 175px;
  left: 29px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 151px;
  width: 162px;
}
.y5-overview .nylon-bracket-t-ant-performance-vkQ55x {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 282px;
}
.y5-overview .one-button-no-h-e-faster-set-up-IVz3ET {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: auto;
}
.y5-overview .onepress-IVz3ET {
  background-color: transparent;
  height: 174px;
  left: 527px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 87px;
}
.y5-overview .our-patio-canop-e-in-45-seconds-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: 1px;
  margin-top: 21px;
  min-height: 32px;
  min-width: 369px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .our-pvc-coating-and-distortion-lddKVC {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 165px;
  width: 164px;
}
.y5-overview .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 585px;
  margin-right: 2px;
  margin-top: 13px;
  position: relative;
  width: 1152px;
}
.y5-overview .overlap-group-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-left: 10px;
  position: relative;
  width: 152px;
}
.y5-overview .overlap-group1-F3LVXM {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 35px;
  position: relative;
  width: 47px;
}
.y5-overview .overlap-group1-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 296px;
}
.y5-overview .overview-F3LVXM {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 14px;
  min-width: 51px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .personalized-op-better-branding-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 48px;
  min-height: 19px;
  min-width: 298px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .pole-X8Pvu3 {
  background-color: transparent;
  height: 122px;
  left: 47px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 177px;
  width: 122px;
}
.y5-overview .pole-dimensions-X8Pvu3 {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: auto;
}
.y5-overview .printed-canopy-R9aOqY {
  background-color: transparent;
  height: 182px;
  left: 403px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 239px;
}
.y5-overview .product-i6124039159-1ssCxD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 48px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .pvc-coating-lddKVC {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: auto;
}
.y5-overview .pvc-lddKVC {
  background-color: transparent;
  height: 161px;
  left: 27px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 186px;
  width: 161px;
}
.y5-overview .rectangle-10-20jjsr {
  background-color: var(--red);
  border-radius: 4px;
  flex-shrink: 1;
  height: 28px;
  margin-left: 4px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}
.y5-overview .rectangle-12-cr0vIO {
  background-color: var(--cape-cod);
  height: 284px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y5-overview .rectangle-13-eedn4Y {
  background-color: transparent;
  border-radius: 2px;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.y5-overview .rectangle-14-ULg8j9 {
  background-color: var(--shady-lady);
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 152px;
}
.y5-overview .rectangle-15-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 589px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-overview .rectangle-16-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 627px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-overview .rectangle-17-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 665px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-overview .rectangle-18-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 703px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-overview .rectangle-19-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 741px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-overview .rectangle-2-9JQqQB {
  background-color: var(--mine-shaft);
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y5-overview .rectangle-2-D0vwai {
  background-color: var(--powder-blue);
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y5-overview .rectangle-3-y1HRxC {
  background-color: var(--concrete);
  height: 585px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y5-overview .rectangle-4-1tBXYU {
  background-color: var(--denim);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 47px;
}
.y5-overview .rectangle-5-8zu6gS {
  background-color: var(--oslo-gray);
  border-radius: 4px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.y5-overview .rectangle-5-Jx0TKr {
  background-color: var(--oslo-gray);
  border-radius: 4px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.y5-overview .rectangle-5-csFeQE {
  background-color: var(--oslo-gray);
  border-radius: 4px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.y5-overview .rectangle-5-qzv40F {
  background-color: var(--oslo-gray);
  border-radius: 4px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 180px;
}
.y5-overview .rectangle-5-xuGifo {
  background-color: var(--oslo-gray);
  border-radius: 4px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 180px;
}
.y5-overview .rectangle-6-39u0ig {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 351px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}
.y5-overview .rectangle-6-5t5hzl {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 351px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}
.y5-overview .rectangle-6-G4yGno {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 351px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}
.y5-overview .rectangle-6-IVz3ET {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 174px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 686px;
}
.y5-overview .rectangle-6-R9aOqY {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 228px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 686px;
}
.y5-overview .rectangle-6-SKxQuI {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 351px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}
.y5-overview .rectangle-6-X8Pvu3 {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 351px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}
.y5-overview .rectangle-6-bxqqKs {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 362px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 333px;
}
.y5-overview .rectangle-6-lddKVC {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 351px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}
.y5-overview .rectangle-6-vkQ55x {
  background-color: var(--concrete);
  border-radius: 8px;
  height: 362px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 333px;
}
.y5-overview .rectangle-7-20jjsr {
  background-color: var(--red);
  border-radius: 4px;
  flex-shrink: 1;
  height: 28px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}
.y5-overview .rectangle-8-20jjsr {
  background-color: var(--red);
  border-radius: 4px;
  flex-shrink: 1;
  height: 28px;
  margin-left: 4px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}
.y5-overview .rectangle-9-20jjsr {
  background-color: var(--red);
  border-radius: 4px;
  flex-shrink: 1;
  height: 28px;
  margin-left: 4px;
  mix-blend-mode: normal;
  position: relative;
  width: 28px;
}
.y5-overview .see-how-custom-printing-works-xuGifo {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .set-up-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 286px;
  margin-right: 2px;
  margin-top: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 686px;
}
.y5-overview .shipping-and-re-urn-i6124039171-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 83px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .shop-canopy-accessories-qzv40F {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .sign-up-for-new-our-first-order-D0vwai {
  background-color: transparent;
  height: auto;
  left: 458px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}
.y5-overview .sign-up-for-the-ion-i6124039176-qsbZ2f {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 12px;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .site-map-terms-icy-i6124039187-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 611px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .span0-21f0jx {
}
.y5-overview .span1-21f0jx {
}
.y5-overview .span2-21f0jx {
}
.y5-overview .span3-21f0jx {
}
.y5-overview .span4-21f0jx {
}
.y5-overview .starting-at-245-aax5kZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 6px;
  min-height: 16px;
  min-width: 75px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .starting-at-445-2xPoMC {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 6px;
  min-height: 16px;
  min-width: 75px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .starting-at-619-SP7X5s {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 6px;
  min-height: 16px;
  min-width: 75px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .subscribe-i6124039178-ULg8j9 {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .supportwestshad-com-i6124039186-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .tech-specs-F3LVXM {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 36px;
  min-height: 14px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .the-best-outdoo-or-everyday-use-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 370px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 427px;
  width: auto;
}
.y5-overview .the-fabric-can-materials-safe-SKxQuI {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 82px;
  width: 164px;
}
.y5-overview .the-optimal-adv-suit-your-needs-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 21px;
  min-height: 32px;
  min-width: 362px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .the-perfect-out-sy-installation-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 280px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 467px;
  width: 594px;
}
.y5-overview .tilt-umbrella-i6124039165-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .tilt-umbrella-xX2nsx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .warranty-i6124039172-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .we-design-our-s-sage-at-anytime-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 21px;
  min-height: 48px;
  min-width: 594px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 594px;
}
.y5-overview .westshade-9JQqQB {
  background-color: transparent;
  height: auto;
  left: 45px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.y5-overview .which-pop-up-ca-s-right-for-you-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 1px;
  margin-top: 54px;
  min-height: 19px;
  min-width: 305px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-overview .with-our-thumb-emarkable-speed-IVz3ET {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 100px;
  width: 426px;
}
.y5-overview .x1-in-stock-orde-ing-i6123939151-c4KUqp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 120px;
  min-width: 936px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 936px;
}
.y5-overview .x19495228111-D0vwai {
  background-color: transparent;
  height: auto;
  left: 990px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.y5-overview .x2021-westshade-ved-i6124039188-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 883px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .x3-available-sizes-2xPoMC {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 20px;
  min-height: 16px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .x3-available-sizes-aax5kZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 20px;
  min-height: 16px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .x500-d-polyester-320-gsm-39u0ig {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 58px;
  width: 174px;
}
.y5-overview .x6063-t5-high-st-t-uv-protection-2xPoMC {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 25px;
  min-height: 120px;
  min-width: 195px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .x6063-t5-high-st-t-uv-protection-SP7X5s {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 25px;
  min-height: 120px;
  min-width: 195px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .x8-available-sizes-SP7X5s {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  margin-top: 20px;
  min-height: 16px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-overview .x949-552-8111-i6124039189-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 244px;
  letter-spacing: 0px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-overview .y5-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 180px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 180px;
}
.y5-overview .y5-classic-steel-hex45-aax5kZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 19px;
  min-width: 169px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .y5-economic-GyJUNH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: 1px;
  min-height: 19px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-overview .y5-economic-cla-el-canopy-hex45-y1HRxC {
  background-color: transparent;
  height: auto;
  left: 484px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 409px;
  width: auto;
}
.y5-overview .y5-tent-y1HRxC {
  background-color: transparent;
  display: block;
  height: 357px;
  left: 368px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 417px;
  opacity: 0;
  transform: rotate(25deg);
}
.y5-overview .y5-top-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 277px;
  margin-right: 2px;
  margin-top: 18px;
  position: relative;
  width: 728px;
}
.y5-overview .y6-commercial-aluminum-hex45-2xPoMC {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 38px;
  min-width: 192px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 192px;
}
.y5-overview .y6-y0eQTV {
  background-color: transparent;
  flex-shrink: 1;
  height: 180px;
  margin-right: 11px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 180px;
}
.y5-overview .y7-9HOxau {
  background-color: transparent;
  flex-shrink: 1;
  height: 200px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 200px;
}
.y5-overview .y7-heavy-duty-aluminum-hex57-SP7X5s {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0px;
  line-height: normal;
  min-height: 38px;
  min-width: 192px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 192px;
}
.y5-overview .zinc-coated-nut-asy-replacement-5t5hzl {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 168px;
}
.y5-overview .zinc-coated-ste-turdy-structure-G4yGno {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 168px;
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: rotate(25deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
