/* screen - y5-overview */

.canopy-tent .section-title {
  margin-bottom: 12px;
  color: var(--black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}
.canopy-tent .section-subtitle {
  margin-bottom: 6px;
  color: var(--nobel);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
}
.canopy-tent .section-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--concrete);
  border-radius: 8px;
  padding: 0 12px;
}

.section-navbar-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 50px;
}
.section-navbar-title {
  color: var(--black);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}
.section-navbar-item-group {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 12px;
}
.section-navbar-item {
  display: none;
  margin: 0 20px;
  font-size: 0.825rem;
}
.section-navbar-item.disable a {
  color: #808080;
}
.section-navbar-button {
  box-shadow: unset !important;
  padding: 2px 8px !important;
  border-radius: 25px !important;
  color: white !important;
  min-width: 52px !important;
  background-color: #2666c3 !important;
}
.section-grid-item-inner {
  padding: 20px 12px;
  text-align: left;
}
.section-grid-image {
  max-height: 240px;
  object-fit: contain;
  padding: 20px;
}
.section-grid-button {
  background-color: #828a90 !important;
  color: white !important;
  font-size: 0.625rem !important;
  font-style: normal;
}

@media (min-width: 600px) {
  .section-navbar-item {
    display: block;
  }
}
