/* screen - y5-specs */

.y5-specs {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3057px;
  justify-content: flex-start;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1152px;
}
.y5-specs .about-us-i6128739169-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .accessories-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 57px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .all-stress-points-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .black-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .blog-i6128739173-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .blue-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .bracket-connectors-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 90px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .btm-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 108px;
  min-height: 515px;
  position: relative;
  width: 1153px;
}
.y5-specs .btm-wOeUpP {
  background-color: transparent;
  flex-shrink: 1;
  height: 284px;
  margin-top: 0px;
  position: relative;
  width: 1153px;
}
.y5-specs .buy-4JdFmb {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}
.y5-specs .canopy-tent-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 92px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .canopy-tent-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 58px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .canopy-tent-i6128739161-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .cantilever-umbrella-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .clearance-height-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 78px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .color-DP5xFV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .company-i6128739167-fSWOfV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 50px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .connect-with-us-i6128739157-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 41px;
  white-space: nowrap;
  width: auto;
}
.y5-specs .contact-us-i6128739170-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .custom-printing-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .custom-printing-i6128739162-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 67px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .depth-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .email-address-i6128739177-eedn4Y {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.y5-specs .fabric-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .flex-row-9g6CMj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 302px;
  justify-content: flex-start;
  margin-top: 24px;
  min-width: 434px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 6.0px;
  margin-top: 7px;
  min-width: 768px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-P5y0DG {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 112px;
  justify-content: flex-start;
  margin-top: 28px;
  min-width: 198px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-Yc0TDD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 86px;
  justify-content: flex-start;
  margin-top: 28px;
  min-width: 193px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-ZL8zAN {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 302px;
  justify-content: flex-start;
  margin-top: 28px;
  min-width: 272px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-ZzhBS7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 52px;
  justify-content: flex-start;
  min-width: 199px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-dDFdhf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 194px;
  justify-content: flex-start;
  margin-top: 29px;
  min-width: 256px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-gAx6Ai {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 182px;
  justify-content: flex-start;
  margin-top: 28px;
  min-width: 252px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-qsbZ2f {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-top: 12px;
  min-width: 458px;
  position: relative;
  width: auto;
}
.y5-specs .flex-row-uAcexl {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 302px;
  justify-content: flex-start;
  margin-top: 27px;
  min-width: 303px;
  position: relative;
  width: auto;
}
.y5-specs .footplate-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .frame-1-zUixHA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 12px;
  justify-content: flex-start;
  left: 284px;
  min-width: 585px;
  position: absolute;
  top: 9px;
  width: auto;
}
.y5-specs .frame-2-1ssCxD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 67px;
}
.y5-specs .frame-3-fSWOfV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 81px;
}
.y5-specs .frame-4-C61RwL {
  align-items: flex-start;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-left: 195px;
  margin-top: 17px;
  min-width: 362px;
  position: relative;
  width: auto;
}
.y5-specs .frame-HL8r6r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 31px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .frame-material-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 70px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .frame-measurements-CQWJz7 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .frame-specifications-nAADMF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .function-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 42px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .green-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .group-1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 6.0px;
  position: relative;
  width: 1158px;
}
.y5-specs .group-2-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-left: 2.0px;
  margin-top: 0px;
  position: relative;
  width: 1154px;
}
.y5-specs .group-24-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 110px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 69px;
}
.y5-specs .group-25-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 341px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 83px;
}
.y5-specs .group-26-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 586px;
  min-height: 54px;
  position: absolute;
  top: 120px;
  width: 464px;
}
.y5-specs .group-28-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: flex-end;
  left: 377px;
  min-width: 143px;
  position: absolute;
  top: 233px;
  width: auto;
}
.y5-specs .group-29-nAADMF {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 302px;
  position: relative;
  width: 147px;
}
.y5-specs .group-3-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-top: 0px;
  position: relative;
  width: 1160px;
}
.y5-specs .group-30-CQWJz7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 302px;
  position: relative;
  width: 116px;
}
.y5-specs .group-31-7QLxWX {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 302px;
  position: relative;
  width: 278px;
}
.y5-specs .group-32-utNkvA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 182px;
  position: relative;
  width: 96px;
}
.y5-specs .group-33-kUmJKI {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 194px;
  position: relative;
  width: 100px;
}
.y5-specs .group-34-ixm0YJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 86px;
  position: relative;
  width: 37px;
}
.y5-specs .group-35-sNwx0o {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 52px;
  position: relative;
  width: 43px;
}
.y5-specs .group-36-DP5xFV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 112px;
  position: relative;
  width: 42px;
}
.y5-specs .group-37-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 16.0px;
  margin-top: 37px;
  min-height: 1915px;
  position: relative;
  width: 426px;
}
.y5-specs .group-4-dXBp89 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 433px;
  min-width: 239px;
  position: relative;
  width: auto;
}
.y5-specs .height-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 32px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .height-adjustment-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .height-adjustor-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 72px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .height-measurements-utNkvA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .home-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  min-width: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .image-28-cr0vIO {
  background-color: transparent;
  height: 76px;
  left: 892px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 152px;
}
.y5-specs .image-29-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-specs .image-30-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-specs .image-31-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-specs .image-32-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y5-specs .line-1-c4KUqp {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 23px;
  position: relative;
  width: 934px;
}
.y5-specs .line-10-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 24px;
  position: relative;
  width: 410px;
}
.y5-specs .line-11-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 31px;
  position: relative;
  width: 410px;
}
.y5-specs .line-2-cr0vIO {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 208px;
  width: 1153px;
}
.y5-specs .line-4-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 23px;
  position: relative;
  width: 410px;
}
.y5-specs .line-5-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 11px;
  position: relative;
  width: 1152px;
}
.y5-specs .line-6-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 24px;
  position: relative;
  width: 410px;
}
.y5-specs .line-7-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 23px;
  position: relative;
  width: 410px;
}
.y5-specs .line-8-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 24px;
  position: relative;
  width: 410px;
}
.y5-specs .line-9-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 28px;
  position: relative;
  width: 410px;
}
.y5-specs .login-register-VyzZeT {
  background-color: transparent;
  height: auto;
  left: 1065px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.y5-specs .market-umbrella-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .market-umbrella-i6128739164-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .medical-tent-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 60px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .medical-tent-i6128739163-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .more-wOeUpP {
  align-items: flex-end;
  background-color: var(--cultured-pearl);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  min-height: 231px;
  padding: 25px 107px;
  position: relative;
  width: 1152px;
}
.y5-specs .more-ways-to-sh-111-i6128639152-c4KUqp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 23px;
  min-height: 12px;
  min-width: 936px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 936px;
}
.y5-specs .nuts-and-bolts-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .nylon-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .nylon-nWXrzX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .outer-leg-diameter-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .outer-leg-thickness-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 90px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .overlap-group-igwqPn {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 35px;
  position: relative;
  width: 47px;
}
.y5-specs .overlap-group-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-left: 10px;
  position: relative;
  width: 152px;
}
.y5-specs .overlap-group1-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 296px;
}
.y5-specs .overview-igwqPn {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 14px;
  min-width: 51px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .package-measurements-kUmJKI {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .peak-height-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 56px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .plastic-parts-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .product-i6128739159-1ssCxD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 48px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .push-button-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 56px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .rectangle-12-cr0vIO {
  background-color: var(--cape-cod);
  height: 284px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y5-specs .rectangle-13-eedn4Y {
  background-color: transparent;
  border-radius: 2px;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.y5-specs .rectangle-14-ULg8j9 {
  background-color: var(--shady-lady);
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 152px;
}
.y5-specs .rectangle-15-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 589px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-specs .rectangle-16-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 627px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-specs .rectangle-17-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 665px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-specs .rectangle-18-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 703px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-specs .rectangle-19-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 741px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y5-specs .rectangle-2-VyzZeT {
  background-color: var(--powder-blue);
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y5-specs .rectangle-2-zUixHA {
  background-color: var(--mine-shaft);
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y5-specs .rectangle-4-4JdFmb {
  background-color: var(--denim);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 47px;
}
.y5-specs .rectangle-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .red-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .reinforcement-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .roof-HL8r6r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .roof-and-sidewa-specifications-7QLxWX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 29px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .roof-connected-wall-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 94px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .roof-tension-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 60px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .shipping-and-re-urn-i6128739171-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 83px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .sign-up-for-new-our-first-order-VyzZeT {
  background-color: transparent;
  height: auto;
  left: 458px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}
.y5-specs .sign-up-for-the-ion-i6128739176-qsbZ2f {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .site-map-terms-icy-i6128739187-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 611px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-specs .size-sNwx0o {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .span0-8fuh00 {

}
.y5-specs .span1-8fuh00 {

}
.y5-specs .span2-8fuh00 {

}
.y5-specs .span3-8fuh00 {

}
.y5-specs .span4-8fuh00 {

}
.y5-specs .specs-61Z7WH {
  background-color: transparent;
  color: var(--gray);
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .spring-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 31px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .steel-with-powder-coating-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 117px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .subscribe-i6128739178-ULg8j9 {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.y5-specs .supportwestshad-com-i6128739186-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-specs .tech-specs-igwqPn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 36px;
  min-height: 14px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .tilt-umbrella-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .tilt-umbrella-i6128739165-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .triangular-zinc-coated-steel-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .truss-bar-depth-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 73px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .truss-bar-height-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .truss-bar-structure-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 88px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .truss-bar-width-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 72px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .wall-connector-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .warranty-i6128739172-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y5-specs .warranty-ixm0YJ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y5-specs .waterproof-cpai-t-uv-protection-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 256px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .weight-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 34px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .westshade-zUixHA {
  background-color: transparent;
  height: auto;
  left: 45px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.y5-specs .white-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .width-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x-2qpoer {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 8px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 8px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x-6DCL5f {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 8px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x005-inches-12mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 94px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x1-in-stock-orde-ing-i6128639151-c4KUqp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 120px;
  min-width: 936px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 936px;
}
.y5-specs .x1-year-HL8r6r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x1-year-P0aP2j {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x10-x-10-UHJTmk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x10-x-15-UHJTmk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x10-x-20-UHJTmk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x1015-343m-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x11-inches-28cm-NkiBNg {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 80px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x11-inches-28cm-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 80px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x125mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 40px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x12mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 34px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x175-inches-45mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 92px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x19495228111-VyzZeT {
  background-color: transparent;
  height: auto;
  left: 990px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.y5-specs .x2-inch-5cm-velcro-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 87px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x2021-westshade-ved-i6128739188-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 883px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-specs .x25mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 31px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x3-positions-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x500-d-polyester-coating-320gsm-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 187px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x63-190cm-67-200cm-610-208cm-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 18px;
  margin-top: 8px;
  min-height: 54px;
  min-width: 65px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x65-inches-165cm-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x788-lb-358kg-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 72px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x8-resin-zipper-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .x949-552-8111-i6128739189-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 244px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y5-specs .y5-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 253px;
  margin-left: 1.0px;
  margin-top: 5px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 253px;
}
.y5-specs .y5-economic-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .y5-economic-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 96px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .y5-economic-specifications-C61RwL {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 26px;
  min-height: 26px;
  min-width: 278px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}
.y5-specs .yellow-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 32px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y5-specs .zinc-coated-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
