/* screen - y5-specs */

.canopy-tent-specs .section-title {
  font-size: 1.25rem;
}

.section-container-specs {
  padding: 20px 12px;
}
.section-container-specs hr {
  margin-top: 20px;
}
.section-container-text {
  margin-bottom: 12px;
}
.section-container-text .section-subtitle {
  font-size: 0.625rem;
  margin-bottom: 0;
}
/* .section-container-text .section-content {} */

.canopy-tent-package .section-container-grid {
  margin-left: auto;
  margin-right: auto;
}
.canopy-tent-package .section-title {
  font-size: 1.25rem;
}
.canopy-tent-package .section-subtitle {
  font-size: 0.725rem;
  color: var(--golden-bell);
}
.canopy-tent-package .section-content {
  font-size: 0.725rem;
}
.canopy-tent-package .section-grid-button {
  background-color: var(--lapis-lazuli) !important;
  color: white !important;
  font-size: 0.625rem !important;
  font-style: normal;
}
.color-dot-black {
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-white {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-red {
  width: 14px;
  height: 14px;
  background-color: var(--red);
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-blue {
  width: 14px;
  height: 14px;
  background-color: var(--lapis-lazuli);
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-yellow {
  width: 14px;
  height: 14px;
  background-color: var(--ronchi);
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-green {
  width: 14px;
  height: 14px;
  background-color: var(--vida-loca);
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-gray {
  width: 14px;
  height: 14px;
  background-color: #2c2f31;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-khaki {
  width: 14px;
  height: 14px;
  background-color: #737062;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-turquose {
  width: 14px;
  height: 14px;
  background-color: #599f9f;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-brewery-red {
  width: 14px;
  height: 14px;
  background-color: #4d1c1a;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}
.color-dot-golden-yellow {
  width: 14px;
  height: 14px;
  background-color: #c3a152;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid var(--shady-lady);
}

.section-image-package-specs-container {
  position: relative;
  /* padding: 16px; */
}
.section-image-package-specs {
  width: 80%;
  aspect-ratio: 1;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 12px;
}

.section-image-package-listItem {
  min-height: 48px;
}
.section-image-package-listItem-title span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-image-package-listItem-title.center span {
  text-align: center;
}
.section-image-package-listItem-subtitle span {
  font-size: 0.725rem;
  font-weight: bold;
  color: var(--gray);
  white-space: nowrap;
}
.section-image-package-listItem-content span {
  text-align: center;
  font-size: 0.725rem;
  color: var(--gray);
  white-space: nowrap;
}
.section-image-package-listItem-buttom {
  display: contents !important;
}
.section-image-package-listItem-buttom > div {
  margin-top: 24px;
}

.container-grid-y7 {
  margin: auto;
  justify-content: center;
  text-align: left;
}

.section-canopy-tent-listItem {
  min-height: 42px;
}
.section-canopy-tent-listItem-title span {
  text-align: center;
  font-size: 0.725rem;
  color: var(--gray);
  white-space: nowrap;
}
.section-canopy-tent-listItem-content span {
  text-align: left;
  font-size: 0.725rem;
  font-weight: bold;
  color: var(--gray);
  white-space: nowrap;
  transform: translateX(25%);
}
.section-canopy-tent-listItem-content p {
  text-align: left;
  font-size: 0.725rem;
  color: var(--gray);
  /* white-space: nowrap; */
  transform: translateX(25%);
}

@media (max-width: 960px) {
  .container-grid-y7 {
    text-align: center;
  }
}
