/* screen - y6-specs */

.y6-specs {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 2980px;
  justify-content: flex-start;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1152px;
}
.y6-specs .about-us-i61539169-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .accessories-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 57px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .all-stress-points-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .aluminum-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 48px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .black-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .blog-i61539173-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .blue-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .bracket-connectors-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 90px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .btm-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 31px;
  min-height: 515px;
  position: relative;
  width: 1153px;
}
.y6-specs .btm-wOeUpP {
  background-color: transparent;
  flex-shrink: 1;
  height: 284px;
  margin-top: 0px;
  position: relative;
  width: 1153px;
}
.y6-specs .built-in-reinforcing-rib-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 97px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .buy-4JdFmb {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}
.y6-specs .canopy-tent-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 92px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .canopy-tent-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 58px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .canopy-tent-i61539161-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .cantilever-umbrella-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 89px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .clearance-height-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 78px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .color-DP5xFV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .company-i61539167-fSWOfV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 50px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .connect-with-us-i61539157-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 41px;
  white-space: nowrap;
  width: auto;
}
.y6-specs .contact-us-i61539170-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .custom-printing-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .custom-printing-i61539162-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 67px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .depth-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .email-address-i61539177-eedn4Y {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.y6-specs .fabric-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .flex-row-9g6CMj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 302px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 434px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 6.0px;
  margin-top: 7px;
  min-width: 768px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-P5y0DG {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 112px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 198px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-Yc0TDD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 86px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 197px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-ZL8zAN {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 302px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 275px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-ZzhBS7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 52px;
  justify-content: flex-start;
  min-width: 199px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-dDFdhf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 194px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 256px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-gAx6Ai {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 182px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 252px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-qsbZ2f {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-start;
  margin-top: 12px;
  min-width: 458px;
  position: relative;
  width: auto;
}
.y6-specs .flex-row-uAcexl {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 302px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 283px;
  position: relative;
  width: auto;
}
.y6-specs .footplate-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .frame-1-zUixHA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 12px;
  justify-content: flex-start;
  left: 284px;
  min-width: 585px;
  position: absolute;
  top: 9px;
  width: auto;
}
.y6-specs .frame-2-1ssCxD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 67px;
}
.y6-specs .frame-3-fSWOfV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 108px;
  position: relative;
  width: 81px;
}
.y6-specs .frame-4-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-start;
  margin-right: 383.0px;
  margin-top: 17px;
  min-width: 379px;
  position: relative;
  width: auto;
}
.y6-specs .frame-HL8r6r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 31px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .frame-material-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 70px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .frame-measurements-CQWJz7 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .frame-specifications-nAADMF {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .function-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 42px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .green-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .group-1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 6.0px;
  position: relative;
  width: 1158px;
}
.y6-specs .group-2-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-left: 2.0px;
  margin-top: 0px;
  position: relative;
  width: 1154px;
}
.y6-specs .group-24-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 110px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 69px;
}
.y6-specs .group-25-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 341px;
  min-height: 136px;
  position: absolute;
  top: 41px;
  width: 83px;
}
.y6-specs .group-26-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 586px;
  min-height: 54px;
  position: absolute;
  top: 120px;
  width: 464px;
}
.y6-specs .group-28-cr0vIO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: flex-end;
  left: 377px;
  min-width: 143px;
  position: absolute;
  top: 233px;
  width: auto;
}
.y6-specs .group-29-nAADMF {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 302px;
  position: relative;
  width: 127px;
}
.y6-specs .group-3-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  margin-top: 0px;
  position: relative;
  width: 1160px;
}
.y6-specs .group-30-CQWJz7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 302px;
  position: relative;
  width: 119px;
}
.y6-specs .group-31-7QLxWX {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 302px;
  position: relative;
  width: 278px;
}
.y6-specs .group-32-utNkvA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 182px;
  position: relative;
  width: 96px;
}
.y6-specs .group-33-kUmJKI {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 194px;
  position: relative;
  width: 100px;
}
.y6-specs .group-34-ixm0YJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 86px;
  position: relative;
  width: 41px;
}
.y6-specs .group-35-sNwx0o {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 52px;
  position: relative;
  width: 43px;
}
.y6-specs .group-36-DP5xFV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 112px;
  position: relative;
  width: 42px;
}
.y6-specs .group-37-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 16.0px;
  margin-top: 37px;
  min-height: 1915px;
  position: relative;
  width: 426px;
}
.y6-specs .group-4-dXBp89 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 416px;
  min-width: 239px;
  position: relative;
  width: auto;
}
.y6-specs .height-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 32px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .height-adjustment-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .height-adjustor-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 72px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .height-measurements-utNkvA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .home-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  min-width: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .image-28-cr0vIO {
  background-color: transparent;
  height: 76px;
  left: 892px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 152px;
}
.y6-specs .image-29-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y6-specs .image-30-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y6-specs .image-31-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y6-specs .image-32-qlAjx4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 6px;
  margin-top: -0.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 31px;
}
.y6-specs .line-1-c4KUqp {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 23px;
  position: relative;
  width: 934px;
}
.y6-specs .line-10-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 38px;
  position: relative;
  width: 410px;
}
.y6-specs .line-11-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 44px;
  position: relative;
  width: 410px;
}
.y6-specs .line-2-cr0vIO {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 208px;
  width: 1153px;
}
.y6-specs .line-4-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 36px;
  position: relative;
  width: 410px;
}
.y6-specs .line-5-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 11px;
  position: relative;
  width: 1152px;
}
.y6-specs .line-6-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 36px;
  position: relative;
  width: 410px;
}
.y6-specs .line-7-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 36px;
  position: relative;
  width: 410px;
}
.y6-specs .line-8-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 33px;
  position: relative;
  width: 410px;
}
.y6-specs .line-9-ZzhBS7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 41px;
  position: relative;
  width: 410px;
}
.y6-specs .login-register-VyzZeT {
  background-color: transparent;
  height: auto;
  left: 1065px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.y6-specs .market-umbrella-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .market-umbrella-i61539164-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .medical-tent-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 60px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .medical-tent-i61539163-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .more-wOeUpP {
  align-items: flex-end;
  background-color: var(--cultured-pearl);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  min-height: 231px;
  padding: 25px 107px;
  position: relative;
  width: 1152px;
}
.y6-specs .more-ways-to-sh-8111-i61439152-c4KUqp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 23px;
  min-height: 12px;
  min-width: 936px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 936px;
}
.y6-specs .nuts-and-bolts-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .nylon-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .outer-leg-diameter-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .outer-leg-thickness-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 90px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .overlap-group-igwqPn {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 35px;
  position: relative;
  width: 47px;
}
.y6-specs .overlap-group-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-left: 10px;
  position: relative;
  width: 152px;
}
.y6-specs .overlap-group1-mn5J3y {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 296px;
}
.y6-specs .overview-igwqPn {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 14px;
  min-width: 51px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .package-measurements-kUmJKI {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 32px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .peak-height-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 56px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .plastic-parts-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .product-i61539159-1ssCxD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 48px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .push-button-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 56px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .rectangle-12-cr0vIO {
  background-color: var(--cape-cod);
  height: 284px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y6-specs .rectangle-13-eedn4Y {
  background-color: transparent;
  border-radius: 2px;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.y6-specs .rectangle-14-ULg8j9 {
  background-color: var(--shady-lady);
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 152px;
}
.y6-specs .rectangle-15-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 589px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y6-specs .rectangle-16-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 627px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y6-specs .rectangle-17-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 665px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y6-specs .rectangle-18-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 703px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y6-specs .rectangle-19-cr0vIO {
  background-color: var(--red);
  height: 22px;
  left: 741px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 22px;
}
.y6-specs .rectangle-2-VyzZeT {
  background-color: var(--powder-blue);
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y6-specs .rectangle-2-zUixHA {
  background-color: var(--mine-shaft);
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1152px;
}
.y6-specs .rectangle-4-4JdFmb {
  background-color: var(--denim);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 47px;
}
.y6-specs .red-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .reinforcement-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .roof-HL8r6r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .roof-and-sidewa-specifications-7QLxWX {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 29px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .roof-connected-wall-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 94px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .roof-tension-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 60px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .shipping-and-return-i61539171-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 83px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .sign-up-for-new-our-first-order-VyzZeT {
  background-color: transparent;
  height: auto;
  left: 458px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}
.y6-specs .sign-up-for-the-otion-i61539176-qsbZ2f {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 12px;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .site-map-terms-olicy-i61539187-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 611px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y6-specs .size-sNwx0o {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .span0-lYRVHp {

}
.y6-specs .span1-lYRVHp {

}
.y6-specs .span2-lYRVHp {

}
.y6-specs .span3-lYRVHp {

}
.y6-specs .span4-lYRVHp {

}
.y6-specs .specs-61Z7WH {
  background-color: transparent;
  color: var(--gray);
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .spring-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 31px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .stainless-steel-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 67px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .subscribe-i61539178-ULg8j9 {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}
.y6-specs .supportwestshadecom-i61539186-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y6-specs .tech-specs-igwqPn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 36px;
  min-height: 14px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .tilt-umbrella-B3SMgp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 19px;
  min-height: 12px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .tilt-umbrella-i61539165-4Uw4TU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .truss-bar-depth-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 73px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .truss-bar-height-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .truss-bar-structure-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 88px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .truss-bar-width-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 72px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .wall-connector-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .warranty-i61539172-xndxlP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  margin-top: 12px;
  min-height: 12px;
  min-width: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.y6-specs .warranty-ixm0YJ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 134px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 134px;
}
.y6-specs .waterproof-cpai-t-uv-protection-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 256px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .weight-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 34px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .westshade-zUixHA {
  background-color: transparent;
  height: auto;
  left: 45px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}
.y6-specs .white-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 28px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .width-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 22px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x-2qpoer {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 8px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 8px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x-6DCL5f {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 8px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x006-inches-15mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 94px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x1-in-stock-orde-nding-i61439151-c4KUqp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12px;
  min-height: 120px;
  min-width: 936px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 936px;
}
.y6-specs .x1-year-HL8r6r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 29px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x10-inches-27cm-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 80px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x10-x-10-UHJTmk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x10-x-15-UHJTmk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x10-x-20-UHJTmk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 39px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x1010-328m-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x11-inches-29cm-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 80px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x13mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 31px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x175-inches-45mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 92px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x19495228111-VyzZeT {
  background-color: transparent;
  height: auto;
  left: 990px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
.y6-specs .x1mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 26px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x2-inch-5cm-velcro-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 87px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x2021-westshade-erved-i61539188-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 883px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y6-specs .x26mm-kYGBkS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 31px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x3-positions-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 52px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x4-x-4-zinc-coated-steel-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 105px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x5-years-HL8r6r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x500-d-polyester-coating-320gsm-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 187px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x52-158cm-61-187cm-68-203cm-GBNVCQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 18px;
  margin-top: 8px;
  min-height: 54px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x6063-t5-aluminum-hiutKY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x65-inches-165cm-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 86px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x788-lb-358kg-Sy03pH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 72px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x8-resin-zipper-j1XTSS {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .x949-552-8111-i61539189-cr0vIO {
  background-color: transparent;
  height: auto;
  left: 244px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  white-space: nowrap;
  width: auto;
}
.y6-specs .y6-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 253px;
  margin-left: 1.0px;
  margin-top: 5px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 253px;
}
.y6-specs .y6-commercial-61Z7WH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  min-height: 19px;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .y6-commercial-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .y6-commercial-specifications-C61RwL {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: var(--font-family-roboto);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 26px;
  min-height: 26px;
  min-width: 300px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
.y6-specs .yellow-NsS7RD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 12px;
  min-width: 32px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
